PORT=8080
NODE_ENV=development
MONGO_URI=mongodb+srv://<TU_USUARIO>:<TU_CONTRASEÑA>@clusterpoyectoreservas.cy3w0ry.mongodb.net/reservas_db
JWT_SECRET="mi_clave_larga_dificil_secreta"
JWT_EXPIRES_IN="24h"